/* Table of contents */
details {
    cursor: pointer;
}
.toc a {
    color: $dark-text-base-color !important;
}
.toc a:hover {
    box-shadow: 0 1px 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.post-content a code {
    margin: auto 0;
    border-radius: 0;
    box-shadow: 0 -1px 0 var(--primary) inset;
}


.toc {
    margin: 0 2px 40px 2px;
    border: 1px solid var(--border);
    background: var(--code-bg);
    border-radius: var(--radius);
    padding: 0.4em;
}

.toc details summary {
    margin-inline-start: 20px;
}

.toc .details {
    display: inline;
    font-weight: 500;
}

.toc .inner {
    margin: 0 20px;
    padding: 10px 20px;
    @include media-query($on-mobile) {
        padding: 0;
    }
}

.toc li ul {
    margin-inline-start: var(--gap);
}

.toc summary:focus {
    outline: 0;
}
