<div class="top__banner">
		
    <div class="profile__img">
        <img src="./images/hero.jpg"  class="profile__img">
    </div>
    <div class="myname__container">

        <div class="myname">
            <h1>Hi <img class="emoji" alt="wave" src="./images/emoji.png"> I'm <span class="name ">K.Boopathi</span></h1>
            <small  style="color:#fec938">&ltMERN Stack Developer/&gt</small>
        </div>
        <div class="text__container">
            <p >Programmer with curious to learn different technology and develop cool product from that </p>
        </div>
        
    </div>
</div>